.container{
   
    width: 1040px;
}
.card-img-top{
    margin-top: 10px;
    width: 200px;
}

.card{
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
}
.addtocart{
    font-style: bold;
    border-radius: 20px;
    background-color: #FB5353;

}
.addtocart:hover {
    background-color:#FFB3B3; /* Change the background color on hover */
   
  }
  .card-title{
    margin-bottom: 10px;
    font-size: 1.1rem;

  }
