.card-img-top {
    margin-top: 10px;
    width: 200px;
    height: 250px;
    object-fit:contain;
    padding-bottom: 5px;
}

.cardmain {
    background-color: #F7EDED;
    border: #121111 2px;
    width: 300px;
    padding: 20px;
    /* border: 1px solid black; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    height: 350px;
}

.addtocart {
    font-style: bold;
    border-radius: 20px;
    background-color: #FB5353;

}

.addtocart:hover {
    background-color: #FFB3B3;
    /* Change the background color on hover */

}

.card-title {
    margin-bottom: 10px;
    font-size: 1.1rem;

}

/* button is inside this div */
.btndiv {
    display: flex;
    justify-content: center;
}

/* text is inside this div */
.txtdiv {}